custom_background_color         #232127

custom_text_color               #fdb153

search_highlight_color          #49474e

visual_mark_color               0.19 0.18 0.21 0.4

synctex_highlight_color         #abdced

status_bar_color                #312e37

status_bar_text_color           #8fa0a6

startup_commands toggle_custom_color
